
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.LayoutContainer {
  position: relative; /* Устанавливаем позицию как относительную */
  z-index: 1; /* Устанавливаем z-index для текста и синего прямоугольника */
  animation: fadeIn 1s ease-in-out; /* Применяем эффект появления */

}

@keyframes moveCloud {
  0% { transform: translateX(-100%); }
  100% { transform: translateX(100%); }
}

.cloud-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('https://static.vecteezy.com/system/resources/previews/022/093/908/non_2x/cloud-icon-in-flat-style-free-png.png') repeat-x;
  background-size: 50%;
  animation: moveCloud 20s linear infinite;
  z-index: 0; /* Устанавливаем меньший z-index для облака */
}

/* App.css */

.top-cloud {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('https://static.vecteezy.com/system/resources/previews/022/093/908/non_2x/cloud-icon-in-flat-style-free-png.png') repeat-x;
  background-size: 50%;
  animation: moveCloud 20s linear infinite;
  z-index: -1; /* Устанавливаем меньший z-index для верхнего облака */
}

.bottom-cloud {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('https://static.vecteezy.com/system/resources/previews/022/093/908/non_2x/cloud-icon-in-flat-style-free-png.png') repeat-x;
  background-size: 50%;
  animation: moveCloud 20s linear infinite;
  z-index: -1; /* Устанавливаем меньший z-index для нижнего облака */
}
/* App.css */

.weather-container {
  width: 500px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 435%;
  transform: translate(-50%, -50%);
}

.weather-heading {
  font-size: 4em;
  margin-bottom: 20px;
}

.weather-select {
  width: 200px;
  margin-right: 10px;
}

.weather-button {
  background-color: #007bff; /* Цвет фона кнопки */
  color: white; /* Цвет текста кнопки */
  border: none; /* Убираем границу кнопки */
  padding: 10px 20px; /* Отступы внутри кнопки */
  cursor: pointer; /* Изменяем курсор при наведении */
  border-radius: 5px; /* Скругляем углы кнопки */
}
/* App.css */

.weather-temperature {
  font-family: 'Arial', sans-serif; /* Пример изменения шрифта для температуры */
  font-size: 2em;
}

.weather-description {
  font-family: 'Roboto', sans-serif; /* Пример изменения шрифта для описания погоды */
  font-size: 2em;
}
.weather-button:hover {
  background-color: #0056b3; /* Цвет фона кнопки при наведении */
}



.refresh-button {
  background-color: #007bff; /* Цвет фона кнопки */
  color: white; /* Цвет текста кнопки */
  border: none; /* Убираем границу кнопки */
  padding: 10px 20px; /* Отступы внутри кнопки */
  cursor: pointer; /* Изменяем курсор при наведении */
  border-radius: 5px; /* Скругляем углы кнопки */
}
.refresh-button:hover {
  background-color: #0056b3; /* Цвет фона кнопки при наведении */
}

.video-background {
  filter: invert(1);
  z-index: -1; /* Устанавливаем меньший z-index для нижнего облака */
}
.site-layout-content {
  transition: opacity 0.5s ease-in-out;
  opacity: 1;
}

.site-layout-content.exiting {
  opacity: 0;
}
