#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


/* App.css */

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.LayoutContainer {
  position: relative; /* Устанавливаем позицию как относительную */
  z-index: 1; /* Устанавливаем z-index для текста и синего прямоугольника */
  animation: fadeIn 1s ease-in-out; /* Применяем эффект появления */
}

@keyframes moveCloud {
  0% { transform: translateX(-100%); }
  100% { transform: translateX(100%); }
}

.cloud-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('https://static.vecteezy.com/system/resources/previews/022/093/908/non_2x/cloud-icon-in-flat-style-free-png.png') repeat-x;
  background-size: 50%;
  animation: moveCloud 20s linear infinite;
  z-index: 0; /* Устанавливаем меньший z-index для облака */
}

/* App.css */

.top-cloud {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('https://static.vecteezy.com/system/resources/previews/022/093/908/non_2x/cloud-icon-in-flat-style-free-png.png') repeat-x;
  background-size: 50%;
  animation: moveCloud 20s linear infinite;
  z-index: 0; /* Устанавливаем меньший z-index для верхнего облака */
}

.bottom-cloud {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('https://static.vecteezy.com/system/resources/previews/022/093/908/non_2x/cloud-icon-in-flat-style-free-png.png') repeat-x;
  background-size: 50%;
  animation: moveCloud 20s linear infinite;
  z-index: 0; /* Устанавливаем меньший z-index для нижнего облака */
}
.heading {
  margin-top: 100px; /* Задаем верхний отступ */
}